!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - a video on demand service
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = csp_meta_tag
    = stylesheet_pack_tag "application"
    = stylesheet_link_tag "application"
    = javascript_pack_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      &copy 2013 MyFLiX

/
  <!DOCTYPE html>
  <html>
  <head>
  <title>Misvideos</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= yield %>
  </body>
  </html>